# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FYP.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\UniWork_Year3\COMP-1682 Final Year Projects\FYP_PROJECT\OOPvsDOD\FYP\.idea\.idea.FYP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
